		</div>
		<footer>
			<p id="footer-text">&copy; 2022 &centerdot; Brooke Crouch</p>
			<ul id="footer-links">
				<li class="footer-link">
					<a href="https://www.instagram.com/uvaclimatestories/" target="_blank">
						<i class="fa-brands fa-instagram"></i>
					</a>
				</li>
				<li class="footer-link">
					<a href="mailto:uvaclimatestories@gmail.com" target="_blank">
						<i class="fa-solid fa-envelope"></i>
					</a>
				</li>
			</ul>
		</footer>
		<script src="/assets/scripts/scroll.js"></script>
	</body>
</html>
