---
---
@import 'variables'
@import 'header'
@import 'footer'

html
	height: 100%
	font-family: $font

body
	margin: 0
	min-height: 100%
	display: flex
	flex-direction: column

p
	line-height: 150%

a
	color: var(--link)

.page-title
	border-bottom: 1px solid var(--separator)

.readable
	@extend %readable-base

.center-row
	@extend %center-row-base

.center-column
	@extend %center-column-base

.center-text
	text-align: center

#content
	display: flex
	flex-direction: column
	flex-grow: 1
	margin: 15px $page-padding-horizontal

	@media (max-width: $max-mobile-width)
		padding-top: 50px
